@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.font-domine{
  font-family: 'Domine', serif;
}
